<div class="posts-container">
  {{#each posts}}
    <div class="posts-item">
      <h3 class="post-title">{{title}}</h3>
      <p class="post-date">{{date}}</p>
      <img src="{{image}}" alt="{{title}}">
      <p class="post-description">{{description}}</p>
      <a href="/post/{{this.id}}" class="read-more-button">Read More</a>
    </div>
  {{/each}}
</div>

<a href="/home" class="back-home">Back to Home</a>

<div class="subscribe-section" id="contact">
  <h3>libre lente</h3>
  <h4>Stay up to date with new updates</h4>
  <p>Follow in Telegram and Vkontakte</p>
</div>
